echo"#################################"
echo"######MASKED.RC#CS:GO#Config#####"
echo"######Uploaded###12.10.2014######"
echo"#################################"
echo"####http://www.masked-rc.net#####"
echo"#################################"
echo"########Standard#Commands########"
echo"#################################"

unbindall

//movement
bind "0" "slot10"
bind "1" "slot1"
bind "2" "slot2"
bind "3" "slot3"
bind "4" "slot4"
bind "5" "slot5"
bind "6" "slot6"
bind "7" "slot7"
bind "8" "slot8"
bind "9" "slot9"
bind "a" "+moveleft"
bind "b" "buymenu"
bind "c" "radio3"
bind "d" "+moveright"
bind "e" "+use"
bind "f" "+lookatweapon"
bind "g" "drop"
bind "i" "show_loadout_toggle"
bind "k" "+voicerecord"
bind "m" "teammenu"
bind "q" "lastinv"
bind "r" "+reload"
bind "s" "+back"
bind "u" "messagemode2"
bind "w" "+forward"
bind "x" "radio2"
bind "z" "messagemode"
bind "," "buyammo1"
bind "." "buyammo2"
bind "\" "toggleconsole"
bind "-" "slot11"
bind "SPACE" "+jump"
bind "TAB" "+showscores"
bind "ESCAPE" "cancelselect"
bind "PAUSE" "pause"
bind "SHIFT" "+speed"
bind "CTRL" "+duck"
bind "F3" "askconnect_accept"
bind "F12" "jpeg"
bind "MOUSE1" "+attack"
bind "MOUSE2" "+attack2"
bind "MWHEELUP" "invprev"
bind "MWHEELDOWN" "invnext"

//netsettings
rate 									"128000"
cl_cmdrate 								"128"
cl_updaterate 							"128"
cl_interp 								"0"
cl_interp_ratio 						"1"
cl_allowdownload		    			"0"
cl_allowupload							"0"

//mouse
cl_mouseenable							"1"
m_customaccel 							"0"
m_customaccel_exponent 					"1.05"
m_customaccel_max 						"0"
m_customaccel_scale 					"0.04"
m_forward 								"1"
m_mouseaccel1 							"0"
m_mouseaccel2 							"0"
m_mousespeed 							"0"
m_pitch 								"0.022"
m_rawinput 								"1"
m_side 									"0.8"
m_yaw 									"0.022"
sensitivity					    		"1.5"
zoom_sensitivity_ratio_mouse			"1.0"

//misc
cl_autohelp					             "0"					//Hilfetext ausblenden
cl_autowepswitch				         "0"					//automatisches Waffenwechsel bei PICK
cl_downloadfilter				         "nosounds"				//Download-Filter
cl_forcepreload 				         "1"					//Vorladen von MapDaten
cl_loadout_colorweaponnames 	         "1"					//Farbe der Waffen(skins) anzeigen
cl_predictweapons 				         "1"					//Vorladen von Waffeneffekte Clientseitig
cl_teammate_colors_show 	             "1"					//Farbige Punkte für Teammates
cl_disablefreezecam				         "1"					//Killcam direkt anzeigen
cl_debugrumble                           "0"
cl_dm_buyrandomweapons                   "0"					//deaktiviert Zufallswaffen in DM
cl_freezecameffects_showholiday          "0"					//verbirgt "Season Greetings" von Valve
con_enable					             "1"					//aktiviert Konsole
econ_highest_baseitem_seen 		         "63"					//schaltet Anzeige "2 neue Gegestände im Inventar" ab
gameinstructor_enable			         "0"					//Spieletipps ausschalten
player_nevershow_communityservermessage  "1"					//deaktiviert pop-up Meldungen
bot_chatter                              "off"					//keine Radio Commands von Bots hören
lobby_voice_chat_enabled                 "0"					// Mikrofon gemutet bei Lobby
snd_musicvolume					      	 "0"

//skill
sk_autoaim_mode "1"
skill "1.000000"

stuffcmds